[2019-06-28 20:18] ericdylanpeters2 opened #7 "Mattermost Icon - link is incorrect"
The Mattermost icon on page https://www.eclipse.org/codewind/ should point to https://mattermost.eclipse.org/eclipse/channels/eclipse-codewind (currently points to mailto:codewind-dev@eclipse.org )

[2019-06-28 22:13] travis1111 commented on #7
Just fixed it.

[2019-06-28 22:29] ericdylanpeters2 commented on #7
Fixed!

[2019-06-28 22:29] #7 closed

[2019-06-28 23:32] jopit opened #8 "Links to anchors not working"
Some of the .md files (like installlocally.md) have a link like this: `[Troubleshooting page](troubleshooting#installing-codewind)` which the .html fix is turning into `https://www.eclipse.org/codewind/troubleshooting#installing-codewind.html`

It should instead convert them to `https://www.eclipse.org/codewind/troubleshooting.html#installing-codewind`

[2019-07-01 12:16] AndyRWatson opened #9 "using a template repo link in docs returns 404"
When using the landing page,  Following Configuring Codewind -> Using a template repository of your own link gives a 404

[2019-07-03 15:56] sghung opened #10 "Use google tag manager to track outbound clicks and video views"
We use google tag manager for tracking events.

Currently, the outbound clicks aren't tracked in a very organized way. The event category and event action is just the URL. However, I think the event category should be "Outbound click" and the action is the URL.

In addition, we have not hooked into the video player yet, an event needs to be added to track the playing of the video.

[2019-07-03 15:58] laven26 commented on #10
I can look into it

[2019-07-03 18:27] sishida commented on #9
Hi, @AndyRWatson, I checked the landing pages today and was able to view the "Using a template repository of your own" page on the Safari and Chrome browsers: https://www.eclipse.org/codewind/usingadifferenttemplate.html

Are you using a different browser, or perhaps someone fixed the link after this issue was opened? Thanks!

[2019-07-03 23:09] AndyRWatson commented on #9
Hi Sarah, I just checked the link again and now seems to be working

[2019-07-03 23:09] #9 closed

[2019-07-08 14:03] sishida commented on #8
@jopit Thanks for raising this issue. :) I'm going to try to create a PR for these edits. Could you please assign this issue to me? I am currently not a committer, so I can't assign myself. Thanks!

[2019-07-08 14:19] cccanderson opened #11 "Clarify the pronunciation of Codewind"
From https://www.eclipse.org/lists/codewind-dev/msg00003.html , we can see that we need to clarify that the pronunciation of Codewind is "wind" like "the wind blows" and not "wind up a top".

We could do this with a pronunciation link, or a link to a YouTube video, or anything... just as long as it is done.

[2019-07-08 14:25] travis1111 commented on #8
@sishida Thanks for fixing this.  When you fix these, do you mind not to hardcode the root url?  Just `troubleshooting.html#installing-codewind`.

thanks

[2019-07-08 18:21] deboer-tim commented on #11
Well, I do pronounce it as 'wind blowing' in the intro video. I guess that means they didn't watch it? :)

Not sure if you think we need a separate pronounciation link or just wait and see if others pick up on it.

[2019-07-08 20:09] sishida commented on #11
Tim's intro video on the landing pages themselves (https://www.eclipse.org/codewind/) as well as Andy's installation video (https://www.youtube.com/watch?v=qujVACLnbmM) on the Codewind YouTube channel both contain the pronunciation of Codewind. :)

We've also got issues open to make these videos easier to find:
1️⃣ https://github.ibm.com/dev-ex/design-work/issues/217
2️⃣ https://github.ibm.com/dev

[2019-07-10 17:49] beccabau opened #16 "Clarifications to "Setting up a Codewind-ready install of Che" file"
"Setting up a Codewind-ready install of Che" (https://www.eclipse.org/codewind/installoncloud.html) could benefit from clarifications:

- Are the PV/NFS prereqs on OpenShift the same as on ICP?
- Should we link from the Codewind doc to these docs? https://docs.openshift.com/enterprise/3.1/install_config/persistent_storage/persistent_storage_nfs.html (NFS)
https://docs.openshift.com/enterprise/3.1/

[2019-07-11 14:13] sghung opened #17 "Ensure website conforms to Eclipse website rules"
For example, we're missing the required footer. Please refer to the guide:

https://www.eclipse.org/projects/handbook/#resources-website and https://www.eclipse.org/projects/handbook/#trademarks-website

[2019-07-11 15:24] sishida opened #19 "Broken links in documentation"
Naveen found some broken links in https://www.eclipse.org/codewind/mdt-vsc-tutorial.html.

The following links aren't working:
Open Folder as Workspace
Show Project Overview
Show Application Log
Open in Browser
Restart in Debug Mode
reattach the debugger

These links take you to an Error 404 page.

[2019-07-11 15:28] travis1111 commented on #17
![image](https://user-images.githubusercontent.com/35569780/61064043-06d9b700-a3cf-11e9-8c5b-ad81e011c869.png)

[2019-07-11 20:23] sghung opened #21 "Investigate script for syncing MD/doc files from other repositories"
To avoid duplicating README content, there are other repos that we should be pulling in codewind MD files from. For example: https://github.com/eclipse/codewind-vscode could be used in guides

The script can be part of the setup in codewind-docs. It may be part of the Jekyll script, or it could be another script that downloads those files and puts it into the codewind-docs dir.

[2019-07-18 19:50] travis1111 commented on #21
I can take look @sghung

[2019-07-18 21:03] sghung commented on #19
Fixed as part of https://github.com/eclipse/codewind-docs/pull/23

[2019-07-18 21:03] #19 closed

[2019-07-19 17:57] cncook001 opened #28 ""Open in Browser" should be "Open App""
This web page needs to be updated: https://www.eclipse.org/codewind/mdt-vsc-tutorial.html

Step 7, Open in Browser

https://www.eclipse.org/codewind/mdt-vsc-commands-project.html#open-in-browser

In the node.js version of the app it seems to be called "Open App"

[2019-07-30 20:44] sishida commented on #21
Steven, Travis, and I met today to discuss syncing the README files from their original repos to the landing pages. Here are some concerns that were brought up the more we discussed and thought about this:
- The README files will need metadata to appear in the landing pages. This metadata, such as layout info, title info, etc., will look distracting if it appears at the top of the README files or

[2019-07-31 15:10] sishida commented on #28
I will try to get a pull request created for this today.

[2019-07-31 15:20] sishida commented on #21
Discussed this issue on Slack with Michael. We currently do not have files that need to be copied over from one repo to another, so we do not have to prioritize this issue at this time. However, it might become useful in the future.

[2019-07-31 15:22] tetchel commented on #28
fixed in #29

[2019-07-31 15:22] #28 closed

[2019-07-31 15:54] sishida commented on #8
@jopit Hi, John, It looks like @travis1111 fixed the URLs. (Thanks, Travis!) This PR appears to covers the link edits: https://github.com/eclipse/codewind-docs/commit/1c81407ed70c8ca7e6db13e506138e11b8683214#diff-24ddf17347be80f4ed833c387dcf4ae8

If these changes are satisfactory to you, could you please close this issue? Thank you! :)

[2019-07-31 16:28] sishida opened #30 "Update Contributing.md files"
We need to update our Contributing.md files across all Codewind repos. The Contributing.md files should be uniform and explain how to open issues and add to Codewind.

[2019-07-31 16:29] sishida commented on #30
Current Contributing file content that needs to be updated:

# Contributing

To contribute to the Codewind for Eclipse project, see the [Codewind GitHub Workflows](https://wiki.eclipse.org/Codewind_GitHub_Workflows) wiki. Contributions must follow the Eclipse organization specifications. Refer to the [Git commit instructions](https://www.eclipse.org/projects/handbook/#resources-commit).

[Visit us

[2019-07-31 16:31] keithchong opened #31 "Add openapi docs for OpenAPI Tools"
We're still missing the help docs.
https://ibm.ent.box.com/notes/492349926519

Thanks Sarah for editing/reviewing the README.md files here:
https://github.com/eclipse/codewind-openapi-vscode
https://github.com/eclipse/codewind-openapi-eclipse

I think you could start with content from those files.

[2019-07-31 17:49] sishida commented on #31
I'll start work on this issue. 👍

[2019-07-31 17:57] sishida commented on #30
Updated draft 1:

# Contributing

To contribute to the Codewind for Eclipse project, see the [Codewind GitHub Workflows](https://wiki.eclipse.org/Codewind_GitHub_Workflows) wiki. Contributions must follow the Eclipse organization specifications. Refer to the [Git commit instructions](https://www.eclipse.org/projects/handbook/#resources-commit).

[Visit us on Slack](https://slack-invite-ibm-cloud-t

[2019-07-31 19:03] sishida commented on #10
Update:
- Laven set up the tracking of the video.
- I will try to learn more about Google tag manager in between other work items.

[2019-07-31 19:50] jgwest opened #32 "'Installing and Using Codewind on Kubernetes' prerequisities and tag tweaks"
John C agreed to handle this one.

The 'Installing and Using Codewind on Kubernetes' page (https://www.eclipse.org/codewind/installoncloud.html) needs a couple tweaks:
- Under prerequisites, we are referencing IBM Cloud Private (and I _believe_ all the numbered steps should have 'Set up the Cluster Role as a parent', rather than the OpenShift note)
- Steps that ask the udrt to clone the `codewind-

[2019-07-31 19:55] johnmcollier commented on #32
Assign to me

[2019-08-01 15:20] #8 closed

[2019-08-02 17:13] sishida commented on #30
Updated draft 2:

## Contributing
Thank you for your interest in contributing to Codewind.

#### Before you contribute
- Contributions must follow the Eclipse organization specifications. Refer to the [Git commit instructions](https://www.eclipse.org/projects/handbook/#resources-commit).

#### Adding contributions
- See the [Codewind GitHub Workflows](https://wiki.eclipse.org/Codewind_GitHub_Workf

[2019-08-02 17:25] sishida commented on #30
Considerations:
- Do we want to add style guidelines to our contributing file (either this Markdown file or the wiki page)?
- Should we encourage people to contact us on Slack or Mattermost first before opening a question issue?

[2019-08-02 19:09] kimholmes commented on #17
@sghung @travis1111 Here is an updated design for the footer:
<img width="1002" alt="image" src="https://user-images.githubusercontent.com/21316329/62393119-4495af80-b537-11e9-8247-8d7577e2d6d6.png">

Sketch file:
https://ibm.box.com/s/06vlf9la8vycn75fyzep2u4a172n662u

HTML/CSS specs:
https://ibm.box.com/s/28chm68cr9eagcmhjfc9wev8tlm1c8mr

FYI - I used the specs at this link:
https://www.eclipse.o

[2019-08-05 13:31] sishida opened #36 "Codewind Guides: Develop applications in Docker containers for Kubernetes"
**Note:** I am moving this issue from another repo to this repo. I have copied information and comments from the previous repo here:

**Originally posted in the previous issue by @micgibso on June 10, 2019:**

Develop applications in Docker containers for Kubernetes
- What is container & inner loop development?
- Getting started
- Create a new project
- Create an application template 
- Build your

[2019-08-05 13:47] sishida commented on #31
Incorporated feedback with https://github.com/eclipse/codewind-docs/pull/35.

[2019-08-06 07:52] micgibso opened #38 "Add Appsody"
Add Appsody to the docs.

[2019-08-06 07:52] micgibso opened #39 "Add Tekton integration"
Add Tekton integration to the docs.
- What is it? Why is it important? How does it fit into the overall cloud picture?
- Why do I need it? How does it help deploy my apps into the cloud?

[2019-08-06 07:57] micgibso commented on #39
https://github.com/eclipse/codewind/issues/106

[2019-08-06 09:45] MelHopper opened #40 "Codewind Landing Page: Action recommendations from Review July 2019"
A review of the Codewind Landing Page codewind.dev was instigated in July 2019.

This issue will track all actions coming out of the review.

See the following IBM Epic for the review document _https://github.ibm.com/dev-ex/dev-ex-planning/issues/936_

[2019-08-06 16:22] sishida commented on #39
I'll work on this issue. 👍

[2019-08-07 07:04] micgibso opened #43 "Codewind Guides: Develop Microservices in Docker with customizable templates"
Develop Microservices in Docker with customizable templates

- (use Rogue Cloud in samples in each section of guide)
- Tell the story around developing microservices using manually created templates

From Tim: Is the purpose of this to talk about how you can customize the new project templates to share with the team. i.e. what the enterprise architect Champ personna does? If so that's fine, but I

[2019-08-07 13:12] micgibso opened #44 "Accessibility test the docs pages"
Use the Dynamic Assessment Plugin (DAP) to test https://www.eclipse.org/codewind/docindex.html

[2019-08-07 13:13] micgibso commented on #44
Tested a selection of topics:
https://www.eclipse.org/codewind/docindex.html
https://www.eclipse.org/codewind/mdteclipseoverview.html
https://www.eclipse.org/codewind/mdt-vsc-overview.html
Reports attached.
[accessibility.zip](https://github.com/eclipse/codewind-docs/files/3477144/accessibility.zip)

[2019-08-07 13:36] sghung commented on #44
@travis1111 can you take a look? (if so, make a comment so I can add you as an assignee) Thank you

[2019-08-08 13:37] micgibso opened #45 "Rework the Codewind for VS Code section"
Rework the Codewind in VS Code section to be more consistent with the following section titles:
- Managing Codewind projects
- Building Codewind projects
- Debugging Codewind projects
- Troubleshooting Codewind
- Uninstalling Codewind

[2019-08-08 13:41] micgibso opened #46 "Rework the Codewind TOC"
Rework the Codewind TOC, incorporating feedback from the team.

[2019-08-09 13:47] travis1111 commented on #44
Sure I will

[2019-08-12 19:51] sishida commented on #31
@keithchong Does this issue look good to close, or would you like to add more info to the Open API files? Please let me know. Thanks!

Links to updated docs:
- Eclipse: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/codewind-openapi-eclipse.md
- VS Code: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/codewind-openapi-vscode.md

[2019-08-13 09:49] micgibso commented on #46
Initial drop, plus further refinements on PRs https://github.com/eclipse/codewind-docs/pull/47 & https://github.com/eclipse/codewind-docs/pull/48
Further refinements on PR https://github.com/eclipse/codewind-docs/pull/49/

For the August release, the following refinements still required:
*Developing for Eclipse Che*
- mostly similar to VS Code (same plugin) so topics under here will require replac

[2019-08-14 14:20] sishida commented on #38
When adding content for this issue, add it to creatingaproject.md.

[2019-08-14 15:06] rajivnathan opened #53 "Add existing projectsettings.md doc to website"
The following doc exists but does not appear on the website:

https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/projectsettings.md

[2019-08-14 15:10] sishida commented on #53
@micgibso, Hi, Michael, You might already have plans to add the projectsettings.md file to the table of contents, but as you work on the table of contents, could you please ensure that it appears? Thanks!

[2019-08-14 15:25] rajivnathan opened #54 "Add existing importedprojects.md doc to website"
The importedprojects.md doc exists on the repo https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/importedprojects.md but appears to be missing from the docs website

Should probably have an importing projects doc and can link to it from https://www.eclipse.org/codewind/mdteclipsemanagingprojects.html

There also seems to be a in the `Import Project` bullet that seems a bit

[2019-08-15 10:47] micgibso commented on #54
@rajivnathan I've restored importedprojects.html and for now it's under Getting started.
@sishida fyi

[2019-08-15 10:48] micgibso commented on #53
@rajivnathan @sishida  I've put the content of projectsettings.md into Eclipse topic mdt-eclipse-managingprojects.md and VS Code topic: mdt-vsc-commands-project.md, see PRs https://github.com/eclipse/codewind-docs/pull/58 & https://github.com/eclipse/codewind-docs/pull/59

[2019-08-15 10:52] micgibso commented on #46
Iterating on this, see further progress on https://github.com/eclipse/codewind-docs/pull/58 and https://github.com/eclipse/codewind-docs/pull/59.

[2019-08-15 15:18] sishida commented on #39
I worked with Jag to add the link to the file. This issue is good to close. If we want to add more Tekton content, we can open a new issue in the future.

[2019-08-15 16:15] keithchong commented on #31
LGTM

[2019-08-15 16:15] #31 closed

[2019-08-15 17:46] elsony commented on #39
Closing as requested above

[2019-08-15 17:46] #39 closed

[2019-08-15 18:28] sishida commented on #30
Links to PRs:
:one: Codewind: https://github.com/eclipse/codewind/pull/201
:two: Codewind-installer: https://github.com/eclipse/codewind-installer/pull/77
:three: (Merged: Codewind-eclipse: https://github.com/eclipse/codewind-eclipse/pull/218
:four: Codewind-openapi-eclipse: https://github.com/eclipse/codewind-openapi-eclipse/pull/32
:five: Codewind-vscode: https://github.com/eclipse/codewind-vsco

[2019-08-15 19:39] sishida commented on #30
Two Codewind repos do not yet have PRs for CONTRIBUTING.md file updates:
1️⃣ https://github.com/eclipse/codewind-node-profiler
2️⃣ https://github.com/eclipse/codewind-java-profiler
I want to get more info before creating a PR for these.

[2019-08-16 08:38] micgibso commented on #38
Added to the reinstated overview topics in discussion with Steven, see https://github.com/eclipse/codewind-docs/pull/62.

[2019-08-16 09:17] micgibso commented on #46
Final work on this on PR https://github.com/eclipse/codewind-docs/pull/62

[2019-08-16 13:55] rajivnathan commented on #53
@micgibso Thanks for making the change! The content looks good.

A couple related questions:

Should the VSCode topic be changed from `Project commands` to something more like `Managing Codewind projects` like the Eclipse topic?

The headings and subheadings in the http://localhost:4321/codewind/mdt-vsc-commands-project.html file are a bit too close in size. The subheadings are also bold so makes

[2019-08-19 10:43] micgibso commented on #53
@rajivnathan Thanks!

Re: `Should the VSCode topic be changed from Project commands to something more like Managing Codewind projects like the Eclipse topic?`
That's in plan, it won't make it into this delivery unfortunately, but am targeting that change over the next couple of iterations under issue https://github.com/eclipse/codewind-docs/issues/45.

Re your other point, have reformatted the top

[2019-08-19 11:03] micgibso commented on #53
Added in the additional comments requested by Jonathan in the first comment above under this commit: https://github.com/eclipse/codewind-docs/pull/62/commits/a515636ccf79e5afe891a10cdc14a58fbe9f81d5, please check, thanks!

[2019-08-20 11:03] micgibso commented on #44
Tested selection of topics on new docs pages, reports attached:
[Accessibility 20-08-2019.zip](https://github.com/eclipse/codewind-docs/files/3520176/Accessibility.20-08-2019.zip)

[2019-08-20 12:01] #38 closed

[2019-08-20 12:07] micgibso commented on #54
@rajivnathan Topic now entitled `Adding existing projects` and added to both Codewind in Eclipse and Codewind in VS Code sections, see PR #62 for final modifications.

[2019-08-20 12:41] micgibso commented on #46
Update `docindex.md` with the latest TOC on LHS.

[2019-08-21 08:39] micgibso commented on #46
Done, see PR https://github.com/eclipse/codewind-docs/pull/63

[2019-08-21 08:39] #46 closed

[2019-08-21 12:14] micgibso commented on #54
@rajivnathan I don't think it needs a link from mdteclipsemanagingprojects.html because it now appears in the new TOC as a separate entry, have a look at the latest and see what you think.
Finally, your sentence above `There also seems to be a in the Import Project bullet that seems a bit out of place since create isn't mentioned.` is it missing something? There also seems to be a...?

[2019-08-21 14:06] sghung opened #64 "Document appsody limitations, troubleshooting, and supported types"
We need to document all this so the user can find it easily. I will work on the content first and then give to ID for review.

[2019-08-21 14:12] sghung commented on #64
Attach Debugger must be run a second time for microprofile project extensions (https://github.com/eclipse/codewind/issues/239)

[2019-08-21 14:18] makandre commented on #64
Document `nodejs` and `swift` templates remain in `starting` state (no listening server)

[2019-08-21 15:50] keithchong commented on #64
### Errors in Eclipse Java Appsody Project after project creation

**`Project build error: Non-resolvable parent POM`**

To work around this:

1. From the New Codewind Project Wizard, select a Java-based Appsody template.
2. Finish with the wizard
3. Once the project shows up in the Codewind Explorer view, rIght click on the project in the and select Show Log Files->Show All
4. If your .m2 cache i

[2019-08-21 16:46] rajivnathan commented on #54
Thanks @micgibso these changes look great! I can't recall what the problem was wrt `Import Project` so clearly couldn't have been very important or might be fixed in changes since then. Either way I'm happy to close this issue now. Cheers

[2019-08-21 16:46] #54 closed

[2019-08-21 20:42] sghung commented on #64
Thanks Keith, I have reviewed those steps and confirmed they work

[2019-08-21 21:59] keithchong commented on #64
### Appsody project errors in Codewind for VS Code

- ### `Classpath is incomplete` warnings or application classes are not on the classpath
1. After creating an Appsody Java Microprofile project ensure that the codewind-workspace is opened
2. Right click on the codewind-workspace folder and select `Add Folder to Workspace...`
3. Choose the project folder and click `Add`

- ### `Failed to attach t

[2019-08-22 10:32] micgibso opened #69 "Create a new Codewind for Eclipse Che section under Developing with Codewind"
Install on Eclipse Che starts here: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/installoncloud.md

Draft a new Codewind for Eclipse Che section in the new TOC under Developing with Codewind.  Use similar content to the Codewind for Eclipse section ie. topic titles Managing, Building, Debugging, Troubleshooting etc. Suggest completing the revamp of the VS Code section

[2019-08-22 13:49] sishida commented on #64
I just noticed this now. I'm going to try to create a PR for this content. Thanks for all the input so far!

[2019-08-22 21:34] sishida commented on #64
Hi, team, I created PR 71 for adding the Appsody content to the Troubleshooting page.

Also...Do we have a workaround for the Node.js and Swift templates remaining in the starting state because they're not attaching to the server?

Thanks!

[2019-08-23 03:11] rajivnathan commented on #53
@micgibso Sorry for the delay, your updates to the topic headings are definitely an improvement. Looking forward to the changes in #45.

One minor nit for the 'Project commands' page and the 'Restart and debug commands' is that the `See also` section is at the top when I think this section is typically at the end of a doc page? In fact the 'Restart and debug commands' has two `See also` sections.

[2019-08-23 07:58] micgibso commented on #44
Zero violations on latest pages, reports attached:
[Accessibility 23-08-2019.zip](https://github.com/eclipse/codewind-docs/files/3533397/Accessibility.23-08-2019.zip)

[2019-08-23 07:58] #44 closed

[2019-08-23 14:32] bsbyrd1 commented on #40
In addition to the document that Mel linked in this issue, the following items also came out of the discussion around Mel's feedback:

- Be clear about the intent of Codewind? For example, with OL, they wanted to be the source of info for MicroProfile and developing microservices in cloud.

- Ideas to make Codewind more clear.

1. Diagram or One page about of container development. And include a s

[2019-08-23 16:14] sghung commented on #64
@sishida no workaround for those projects yet, although I think we should play around with it to actually try to get it to work. I'll get back to you on that, I think its a matter of getting a server up and exposing the proper ports so it can be reached.

If https://github.com/eclipse/codewind/pull/250 gets merged, the status would show as stopped instead of starting, which is more helpful.

Those

[2019-08-23 17:31] sishida commented on #64
@sghung Thanks for the clarification. If you'd like any changes to the PR, please just let me know! :)

[2019-08-23 20:51] sghung commented on #64
@sishida below is an update to the appsody troubleshooting section. Please re-write as you see fit. Here are a few notes:
- For Node.js, there are multiple node.js tempaltes for Appsody, so I think it's worth being specific on which one is problematic, which is "Appsody Node.js template"
- Added that with the PR 250, after a certain duration, the app goes to stopped state
- Added what the workarou

[2019-08-26 23:59] sghung opened #76 "Document how to remove appsody stacks"
There were some complaints that the appsody templates take up too much real-estate on new project creation wizards. As a result, we can add something to the troubleshooting to allow users to manually remove the appsody stacks from showing up.

Steps:
1. Go to <codewind workspace>/.appsody/repository
2. Open repository.yaml
3. Remove the repositories entries, so the file would look like:

apiVersio

[2019-08-27 13:00] makandre opened #77 "Document how to configure Appsody CLI to use same config as Codewind"
We should document how users can configure their local appsody CLI to use the same configuration as what Codewind uses, so they can add repositories using the appsody CLI, and the templates from the repos will show in Codewind.

The instructions are already in the README: https://github.com/makandre/codewind-appsody-extension#optional-using-the-same-appsody-configuration-between-local-cli-and-code

[2019-08-27 13:05] #76 closed, assigned to nobody

[2019-08-27 16:37] sishida opened #79 "Adding Che files to Table of Contents"
Add `installoncloud.md` to the table of contents under "Developing with Codewind."

- Developing with Codewind
   - Codewind for Eclipse
   - Codewind for VS Code
   - Codewind for Eclipse Che
      - Overview (installoncloud.md)
      - Codewind Docker registry guidance (dockerregistry.md)
      - Adding the OpenShift internal registry with Codewind (openshiftregistry.md)

[2019-08-27 17:53] travis1111 opened #82 "404 file not found issue:"
Page: /codewind/troubleshooting.html

The Imported projects and supported project types link is 404.

![image](https://user-images.githubusercontent.com/35569780/63795432-e9ef3980-c8d1-11e9-8160-d5e71c621997.png)

[2019-08-27 19:18] tetchel opened #88 "Getting Started shows wrong product icons"
![image](https://user-images.githubusercontent.com/8888438/63801154-a26eaa80-c8dd-11e9-8ba5-dbfa7a63eb0e.png)

The "Codewind for Eclipse" section (rightmost) has an Eclipse Che icon, but refers to the Eclipse IDE which has [a different icon](https://www.google.com/search?client=firefox-b-d&tbm=isch&q=eclipse+ide&chips=q:eclipse+ide,g_1:logo:P6Ip4UKDh9Y%3D&usg=AI4_-kQDpGACRoyRB9u4PCuySs29QLdaxA&sa=

[2019-08-28 14:17] makandre opened #92 "Document workaround for appsody for Windows enterprise users"
For Windows enterprise users (for example using AzureID) using any of the Java appsody stacks (i.e. `java-microprofile`, `java-spring-boot2`), they need to configure the maven `.m2` cache to be outside of their home directory, otherwise appsody will not be able to mount the maven cache to the appsody application container.

1. Set the global `MAVEN_OPTS` environment variable, e.g.:

`MAVEN_OPTS=-D

[2019-08-28 21:14] #92 closed

[2019-08-28 21:14] #77 closed

[2019-08-29 13:59] travis1111 commented on #82
Thanks @sishida for fixing it.

[2019-08-29 13:59] #82 closed

[2019-08-30 18:05] sishida opened #108 "Adding documentation for OpenAPI"
We need to add Codewind OpenAPI tools docs to the landing pages table of contents. Currently the table of contents links out to the OpenAPI repositories.

Eclipse: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/codewind-openapi-eclipse.md
VS Code: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/codewind-openapi-vscode.md

[2019-08-30 22:45] AndyRWatson opened #110 "landing page tweak to slogan quote."
In the current landing page we have the quote "Make, “It worked on my machine,” a thing of the past."   could maybe be read wrong as you'd expect it to work on a machine.

Maybe the quote should be more like " Making, Well it works ok on my machine"  a thing of the past ?

[2019-09-03 14:56] tetchel commented on #88
we should be using the Che icon for `Codewind for Eclipse Che`, not a generic 'cloud' icon

[2019-09-03 15:57] sishida commented on #88
@travis1111 Could you please add this logo change? I have the file for the Che logo on hand if you need it. Thank you!

[2019-09-03 16:10] sishida commented on #110
I think we're trying to say that the applications that you create with Codewind will function not just on your machine but on other machines also.

What about saying something like, "Containerize existing applications and create new applications in several languages. **Your code is good to go on your machine and beyond!**"

[2019-09-03 16:15] sishida commented on #79
The files appear on the website: https://www.eclipse.org/codewind/installoncloud.html
This issue is good to close.

[2019-09-03 16:16] #79 closed

[2019-09-03 16:34] AndyRWatson commented on #110
So I think the well it works on my machine is a recognizable statement and right one to use.  We just need to make sure it can't be misinterpretted as things will no longer work on your machine when using codewind

[2019-09-03 16:51] travis1111 commented on #88
The fix was delivered already.

[2019-09-03 16:52] travis1111 commented on #88
Sorry the eclipse icon was delivered, I will use the che icon to replace the cloud icon.  I already have the che icon :-)

[2019-09-03 17:17] sishida commented on #110
The meaning of "It worked on my machine" is essentially the same as "Well, it works OK on my machine.", but the added words like "Well" contribute to the tone and sense of dismay by the person who is saying it.

I'm not sure how clearly the sense of dismay would transfer in translation, so how about we keep the general idea of "It worked on my machine" but also alter the surrounding words to make

[2019-09-04 13:23] jagraj opened #113 "Release to Release upgrade instructions needed for the users how to upgrade plugins and images to latest release."
We need to document for the users how to upgrade plugins and get latest images for the future releases.

1. VS Code plugin
2. Eclipse plugin
3. Eclipse Che
4. OpenAPI

[2019-09-04 16:53] sishida commented on #113
I will work with Jag to document this content.

[2019-09-04 18:22] sghung opened #114 "Provide troubleshooting for the Appsody python debug scenario"
Appsody added python and the debug scenario needs to be documented. We will remove the ability to debug via https://github.com/eclipse/codewind/pull/367. Once that is in, this documentation item can be removed.

[2019-09-04 20:28] sishida opened #117 "Add gif files to VS Code and Eclipse documentation"
In Codewind for VS Code and Eclipse, gif files could be added to clarify instructions.

This gif idea was mentioned in this issue: https://github.com/eclipse/codewind/issues/150

[2019-09-05 15:49] sghung commented on #114
Closing, will be tracked via https://github.com/eclipse/codewind/issues/363

[2019-09-05 15:49] #114 closed

[2019-09-05 16:40] jgwest opened #119 "Review new Rogue Cloud doc updates: adding support for Codewind to Rogue Cloud"
I have updated Rogue Cloud to support Codewind, with most of that work being updates to the Rogue Cloud documentation. Just like with Microclimate, I have written up step-by-step instructions on how to import the game client into Codewind.

If you are interested in reviewing the documentation updates, here are the changes:

#### Documentation can be found in:
https://github.com/microclimate-dev2op

[2019-09-05 17:27] sghung opened #120 "Document the local installation of appsody onto the OS"
In codewind, we want to run appsody commands from the locally installed version on the user's OS. As a result, we need to provide instructions that they can follow. We are hoping to have the IDE display a message to tell them to follow some documentation.

We need them to follow the instructions at: https://appsody.dev/docs/getting-started/installation

[2019-09-05 17:51] travis1111 commented on #88
the fix was delivered

[2019-09-05 18:34] deboer-tim commented on #120
Please see #271 and let's discuss before we decide to change our prerequisites. I'm not opposed to 'better behaviour' if they have the cli installed, but it was a conscious decision not to have a dependency or try to install it ourselves.

[2019-09-05 18:47] johnmcollier commented on #113
Eclipse Che:
- Restart the Che workspace. Che will automatically pull down the newest 0.3.x versions of Codewind and the Theia extension.

[2019-09-05 18:58] sishida opened #121 "Improve visibility of code blocks and code phrases"
Add a grey background behind code blocks and code phrases so that they stand out more on the website.

[2019-09-05 19:02] sishida opened #122 "Enable linking to headings on a page"
Create a way to link to headings and subheadings within a page.

For example, this site appears to have a unique URL for its headings, so you can link directly to a specific heading on that page: https://help.github.com/en/articles/securing-your-github-pages-site-with-https

It'd be nice to have the same sort of functionality on our site, as well.

[2019-09-05 20:28] sujeilyfonseca commented on #113
<p align="center"><b>UPGRADE CODEWIND IMAGES TO LATEST VERSION IN VS CODE</b></p>

Latest Codewind plugins for VS Code are upgradeable, which means that users can update their existing installation without having to uninstall it.

1.	Go to _Extensions_ view in VS Code.

2.	Search for Codewind 0.3.X and proceed to install it. Latest Codewind images can also be added by selecting "Install from VSIX"

[2019-09-05 21:57] jagraj commented on #113
# Codewind Eclipse plugin upgrade

Codewind eclipse plugin can be upgraded to latest version of the plugin and plugin will automatically upgrade codewind images to latest version.

1. Go to “Help->About Eclipse IDE”

2. Click on “Installation details”

![About-Eclipse-IDE](https://user-images.githubusercontent.com/713849/64385525-9cc34400-d004-11e9-8fb4-611246dfddf5.JPG)

3. Highlight “Codewind  t

[2019-09-06 12:40] sishida commented on #88
Here's a link to the website that shows the fixed images: https://www.eclipse.org/codewind/gettingstarted.html

@tetchel I believe this issue is complete. Could you please close it?

[2019-09-06 13:12] sishida commented on #113
I have created a PR to add updating sections for Eclipse Che, VS Code, and Eclipse tools.

I have not added screenshots because it will take some time to download the screenshots, upload them to GitHub, and then adjust and test to make sure that they appear in the correct size. I might add them later after discussing with the rest of the ID team on how we want to handle screenshots going forward.

[2019-09-06 16:10] MelHopper commented on #45
A few proposals:

1. can we add an 'objectives' sentence or 2 at the top of the sections defining specifically what the user will learn/achieve by working through the topic? This is especially important for Getting Started, Tutorial and Scenario/Guide pages.
2. can we add 'next steps' links to other topics? e.g. in Getting Started topic, link to the Tutorial (the next step for an entry-level user

[2019-09-06 16:14] MelHopper commented on #45
Pre-requisites in Codewind list Docker Compose BUT Docker desktop for Mac already has Docker Compose bundled in. Unsure whether this is also the case for windows.

The following caveat is included in the Codewind extension in the marketplace:
_If you use Linux, you also need to install Docker Compose._

[2019-09-06 19:28] sghung opened #124 "The docs button should go to the getting started page"
@travis1111 Brandy had pointed out that the getting started page should be displayed when the docs button is clicked from the landing page. In the designs she saw from Alex's design, it is the getting started page, not the index page that is shown now.

[2019-09-06 23:30] travis1111 commented on #124
Thanks, please assign this defect to me and I will fix it shortly

[2019-09-09 11:11] MelHopper commented on #110
Sounds good Sarah. Could we consider modifying slightly to communicate an exasperated rather than stubborn developer? e.g.:

- Stop having to say / you'll no longer hear 'How strange, it worked on my machine?!'

[2019-09-09 11:12] MelHopper opened #126 "Ensure Tutorials topic is up to date"

[2019-09-09 11:34] MelHopper commented on #126
![Screenshot 2019-09-09 at 12 28 20](https://user-images.githubusercontent.com/13365734/64527297-756ac080-d2fd-11e9-92fb-07b0ceb0f13e.png)
Steps to reproduce:

Navigate to Codewind for VS Code -> Tutorial -> Step 3. The following potential issues have been spotted:

a) "Right click the project and select 'Open Folder as Workspace'" does not seem to be an option. For the options available, see atta

[2019-09-09 11:42] MelHopper commented on #126
**Defect in Step 5.**

Steps to reproduce:

Navigate to Codewind for VS Code -> Tutorial -> Step 5

![Screenshot 2019-09-09 at 12 39 13](https://user-images.githubusercontent.com/13365734/64527869-fbd3d200-d2fe-11e9-8571-0a2de6d5af4e.png)

_Right click the project and select Show Application Log._

Right clicking gives the options shown in the screenshot. Suggest step documentation needs to be upd

[2019-09-09 12:00] MelHopper commented on #126
Proposed improvement to Step 2.

Steps to reproduce:

Navigate to Codewind for VS Code -> Tutorial -> Step  2.

_Create a Node.js project in Codewind. Skip this step if a Node.js project already exists. This tutorial assumes that your project is called nodeproject.
Right-click the Projects (Local) item in the Codewind tree and select Create new project.
In the Command Palette, select Node.js Templ

[2019-09-09 12:13] MelHopper commented on #45
Also see the following Github issues raised to modify current topics:

1. Codewind for VS Code -> Tutorial https://github.com/eclipse/codewind-docs/issues/126

[2019-09-09 12:24] MelHopper commented on #126
**Proposed improvement to step 6.**

Consider inserting the whole health.js code snippet into the step to prevent inexperienced users having to get up to speed with .js, instead guiding the inexperienced user by the hand:
![Screenshot 2019-09-09 at 13 23 00](https://user-images.githubusercontent.com/13365734/64530459-190b9f00-d305-11e9-86e9-dcd59ad17262.png)

Compare to the Getting Started Docker

[2019-09-09 13:34] sishida commented on #113
@sghung Now that the PRs are merged, could we please close this issue?

[2019-09-09 13:45] tetchel commented on #88
:+1

[2019-09-09 13:45] #88 closed

[2019-09-09 14:38] sghung opened #127 "Create a server for people to see the latest live doc changes"
As part of the Sept 9 retrospective, it was mentioned that having a dedicated place for viewing docs would be useful. In 0.3.0, there were several issues opened AFTER the site went live, so people aren't running the codewind-docs to verify it themselves. We should setup a VM, get a script to keep refreshing the contents (say nightly), and then give the URL for people to view.

[2019-09-09 14:39] sghung commented on #127
@travis1111 can you take a look at this? @sishida is also interested, so we can work with her so she knows more about this, as she was the one who brought it up

[2019-09-09 15:23] johnmcollier commented on #127
Does this need to be an external VM or can we set one up internally?

[2019-09-09 15:39] sishida commented on #127
@johnmcollier In the Portal UI status meeting today, we were thinking that internally might be more convenient for cost and security.

[2019-09-09 15:54] travis1111 commented on #127
@sghung sure, please assign to me.  Thanks!

[2019-09-09 16:40] #124 closed

[2019-09-10 06:48] AndyRWatson commented on #110
I still think “well it works on my machine” is the right expression,  as it’s the usually response, I am not sure if how strange sounds a little artificial

[2019-09-10 08:35] micgibso commented on #69
Done, see https://www.eclipse.org/codewind/installoncloud.html

[2019-09-10 08:35] #69 closed

[2019-09-10 08:59] micgibso commented on #45
Reworking of the topics to be more consistent with the section titles quoted above has been completed, see the new VS Code section here: https://www.eclipse.org/codewind/mdt-vsc-overview.html
Mel's proposals next.

[2019-09-10 09:21] micgibso commented on #108
@sishida Is this finished, can it be closed? Thanks

[2019-09-10 12:48] sishida commented on #108
Links to OpenAPI content on the Codewind landing pages:
1. https://www.eclipse.org/codewind/open-api-tools-for-vscode.html
2. https://www.eclipse.org/codewind/open-api-tools-for-eclipse.html

[2019-09-10 12:48] #108 closed

[2019-09-10 15:10] johnmcollier opened #130 "Make the headings & subheadings more distinct"
In our docs, I've found that the headings and subheadings for docs are hard to tell apart (and are pretty much the same size). We should make them more distinct (probably make the subheadings smaller) to be easier for users to read

Current Examples:
![Screen Shot 2019-09-10 at 11 09 04 AM](https://user-images.githubusercontent.com/6880023/64626266-91cd3280-d3bb-11e9-8f6e-a47a91c8669e.png)

![Scre

[2019-09-10 15:12] sishida commented on #110
@AndyRWatson Could you please look at this PR and let me know if it is a satisfactory text update? https://github.com/eclipse/codewind-docs/pull/131 Thank you!

[2019-09-10 15:20] sghung commented on #113
Closing

[2019-09-10 15:20] #113 closed

[2019-09-11 14:44] sghung opened #134 "Remove sections of the appsody troubleshooting now that appsody is locally installed"
For 0.4.0, we bundle the appsody binary as part of the codewind install and call it from the local OS when doing appsody init (instead of in the docker container). There are a few troubleshooting sections in appsody that can be removed. However, let the appsody codewind team verify these are okay before removing. Not all the troubleshooting has been fixed, just certain parts. The appsody codwind t

[2019-09-11 19:31] sghung commented on #11
Closing since no additional work is required

[2019-09-11 19:31] #11 closed

[2019-09-11 19:31] sghung commented on #10
No additional work required, google tag manager was setup

[2019-09-11 19:31] #10 closed

[2019-09-11 19:32] sghung commented on #17
Closing since footer was updated to conform to Eclipse website rules

[2019-09-11 19:32] #17 closed

[2019-09-16 13:49] micgibso commented on #122
@travis1111 I remember working with you on something similar for Microclimate, is this as easy to implement for Codewind?

[2019-09-16 15:37] travis1111 commented on #122
this one?
![image](https://user-images.githubusercontent.com/35569780/64971832-44970800-d876-11e9-974d-fd7b78d52269.png)

Sure I can make that happen :-)

[2019-09-16 15:55] sishida commented on #110
@AndyRWatson Could you please let me know if you would like any additional changes to this text?
<img width="704" alt="Screen Shot 2019-09-16 at 11 53 31 AM" src="https://user-images.githubusercontent.com/21180723/64973303-c851f400-d878-11e9-858b-492c269fd13c.png">

[2019-09-17 07:25] micgibso commented on #122
Yes, that's the one :)
Great, thanks, that'll help with our linking no end.

[2019-09-23 07:55] micgibso commented on #122
Implemented, thanks @travis1111.
@sishida Could you please close this as complete? thank you.

[2019-09-23 13:11] #122 closed